html, body {
    /*margin:0px;*/
    /*padding:0px;*/
    /*height: 100%;*/
    /*max-width: 100%;*/
    background: black;
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 300;*/
    /*overflow-x: hidden;*/
}

#panel {
    position: absolute;
    z-index: 10;
    width: 600px;
    height: 350px;
    background: #eee;
    top: 50%;
    left: 25%;
    padding-left: 20px;
    margin: -175px 0 0 -100px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 100;
}

#panel h1 {
	font-weight: 300;
    font-size: 45px;
    margin-bottom: .2em;
}

.panel-link {
	display: block;
	padding-top: 15px;
	font-size: 1.4em;
	text-decoration: none;
	font-style: italic;
	color: #0066cc;
	float:left; clear:left
}

.panel-subtitle {
	color: #000000;
    font-size: 1.4em;
    font-weight: 300;
    font-style: italic;
}

.particles-js-canvas-el {
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	z-index:5;
}

#wrapper {
	display: table;
	min-height: 100%;
	min-width: 100%;
}

#main-content {
    margin-top:10px;
    left: 16%;
	position: absolute;
	border-radius: 4px;
    box-sizing: border-box;
}

#title {
	font-size: 40px;
}

#right-sidebar {
    right: 10px;
    margin-top: 10px;
   	background:#d8b652;	
    position: fixed;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
}

#right-sidebar a {
    color: black;
}

#left-sidebar {
    margin-top: 10px;
    left: 0;
    position: fixed;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
}

.callout {
	padding: 10px;
}

#posts {
	border-radius: 4px;
    box-sizing: border-box;
}

#links-header {
	text-align: center;
	font-size: 40px;
}

#links-content {
	position: relative;
	left: 10px;
}

#header {
	position: relative;
	display: block;
	background: white;
	font-size: 80px;
}

.header-image {
    width:100%;
    height: auto;
    position: relative;
}

.header-image-container {
    position: absolute;
}

.header-text {
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 5;
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}

.headshot {
    /*top: 10%;*/
    left: 0;
    /*position: fixed;*/
    border: 1px solid white;
    outline-color: white;
}

.blog-post {
	background: white;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.blog-post p, h3 {
    margin-left: 5px;
}

.blog-post video {
    margin-bottom: 20px;
    display: block; 
    margin: 0 auto; 
    border: 2px solid gray;
    margin-bottom: 20px;
}

.blog-post a:hover {
    cursor:pointer;
}
.post-image {
    max-width: 90%;
    max-height: 90%;
	display: block; 
	margin: 0 auto; 
	border: 2px solid gray;
	margin-bottom: 20px;
}

.post-content {
	
}

.copyright {
	text-align: center;
	bottom: 10px;
    width: 100%;
    position: absolute;
}

.scrollToTop{
    width:12%; 
    height:auto;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:40%;
    right:3%;
    display:none;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 100;
    /*background: url('graphics/hand-up.jpg') no-repeat 0px 20px;*/
}
.scrollToTop:hover{
    text-decoration:none;
}